<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a href="/" class="navbar-brand">Pazarama Kütüphane</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/books/list" class="nav-link">Kitaplar</a>
                </li>

                <li class="nav-item">
                    <a href="/books/Create" class="nav-link">Kitap Ekle</a>
                </li>
            </ul>


            <form action="/books/list" method="get" class="form-inline">
                <input type="text" name="q" placeholder="Kitap Ara" class="form-control mr-2" />
                <button type="submit" class="btn btn-outline-light mr-0">Ara</button>
            </form>
        </div>
    </div>
</nav>